body,
ul,
li,
p{
    margin:0px;
    padding:0px;
    list-style:none;
    font-size:1.2rem;
    font-family: Arial;
}

img{
    max-width: 100%;
    display: block;
}

h1{
    text-align: center;
    margin-top: 100px;
    text-shadow: 1px 2px 4px tomato;
}

a{
    text-decoration:none;
    color:white;
}

header{
    display: flex;
        /* indica que o layout vai ser constuído em Flexbox */
    flex-wrap: wrap;
        /*Quando a tela for pequena os elementos colidirão */  
    justify-content: space-between;
    background-color: #1d1e20;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left:10px;
}

.menu li a{
    display: block;
    padding: 10px;
    background: tomato;
    border-radius:6px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width:800px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}

/* CSS Grid 1 */

.grid1{
    display: grid;
        /* indica que o layout vai ser constuído em Grid */
    grid-template-columns: repeat(3, 1fr);
    max-width: 780px;
    margin: 0 auto;
    grid-gap:20px;
}

.grid1 > div:nth-child(n + 4){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

 